.answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.answers__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--answer-border-color);
}

.answers__item_wrong {
  box-shadow: inset 3px 0 0 0 var(--answer-wrong-color);
}

.answers__item_correct {
  box-shadow: inset 3px 0 0 0 var(--answer-correct-color);
}

.answers__button {
  padding: 1rem 0;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  border-style: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.answers__button:hover {
  background-color: var(--answer-bg-color);
}
