.answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.answers__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--answer-border-color);
}

.answers__item:active {
  background-color: var(--answer-active-bg-color);
}

.answers__item_wrong {
  box-shadow: inset 3px 0 0 0 var(--answer-wrong-color);
}

.answers__item_correct {
  box-shadow: inset 3px 0 0 0 var(--answer-correct-color);
}

/* Correct */

.answers__item_correct .answers__percentage {
  color: var(--answer-correct-color);
}

.answers__item_correct .answers__button {
  color: var(--answer-correct-color);
}

/* Wrong */

.answers__item_wrong .answers__percentage {
  color: var(--answer-wrong-color);
}

.answers__item_wrong .answers__button {
  color: var(--answer-wrong-color);
}

.answers__button {
  padding: 1rem 0;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  color: var(--main-text);
  background-color: transparent;
  border-style: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.answers__percentage {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
}

.answers__hint {
  font-size: 14px;
}

.answers__icon_checkmark {
  fill: var(--answer-correct-color);
}

.answers__icon_cross {
  fill: var(--answer-wrong-color);
}
