.result {
  padding: 15px;
  display: flex;
  border-radius: 5px;
  background-image: radial-gradient(circle at 100% 100%, transparent 15px, #743ad5 15px, #743ad5 20px, transparent 20px), linear-gradient(to right, #743ad5, #d53a9d), radial-gradient(circle at 0% 100%, transparent 15px, #d53a9d 15px, #d53a9d 20px, transparent 20px), linear-gradient(to bottom, #d53a9d, #743ad5), radial-gradient(circle at 0% 0%, transparent 15px, #743ad5 15px, #743ad5 20px, transparent 20px), linear-gradient(to left, #743ad5, #d53a9d), radial-gradient(circle at 100% 0%, transparent 15px, #d53a9d 15px, #d53a9d 20px, transparent 20px), linear-gradient(to top, #d53a9d, #743ad5);
  background-size: 20px 20px, calc(100% - 40px) 5px, 20px 20px, 5px calc(100% - 40px);
  background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
  background-repeat: no-repeat;
}

.result__title {
  margin-top: 0;
}

.result__score {
  padding-right: 10px;
  font-weight: 700;
  font-size: 1.2rem;
}

.result__content {
  padding-left: 10px;
  border-left: 1px solid var(--main-text);
}
