.app {
  text-align: center;
}

.root_container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid red;
  height: 100vh;
  padding: 2rem 0;
  box-sizing: border-box;
}








@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
