.container {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--app-bg-color);
  border: 1px solid red;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
