:root {
  --app-bg-color: #ffffff;
  --button-next-bg-color: #b61ecd;
  --answer-bg-color: #e0d1ba;
  --answer-active-bg-color: #f5f5f5;
  --answer-border-color: #efefef;
  --answer-wrong-color: #e74128;
  --answer-correct-color: #52b358;
  --main-text: #1d1d20;
  --gray-text: #9c9c9c;
  --disabled-color: #c6c6c6;
}

* {
  box-sizing: border-box;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0 10px;
  min-width: 320px;
  font-size: 16px;
  color: var(--main-text);
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--button-next-bg-color);
  border: 1px solid var(--button-next-bg-color);
  border-radius: 0.5rem;
  transition: all .25s ease;
  cursor: pointer;
  touch-action: none;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  box-shadow: 0 0 0 2px var(--button-next-bg-color);
}

